body {
  background-color: snow;
}

#navbar {
  display: flex;
  justify-content: space-around;
  background-color: cadetblue;
  height: 2em;
}

#navbar a {
  font-size: 15px;
  color: black;
  align-self: center;
  text-decoration: none;
  font-family: helvetica;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
}

#modal-textbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
	background-color: white;
	height: 450px;
	width: 350px;
	border-radius: 4px;
  margin: 150px auto;
	box-shadow: 4px 4px 0 rgba(207, 94, 255, 0.1);
  padding: 2%;
  line-height: 120%;
}

.inputText {
  font-family: arial;
  margin-left: 1em;
}

.textbox {
  margin-left: 3em;
}

#list {
  font-family: helvetica;
  margin-left: 5em;
}

#updatebtn {
  margin-top: 2em;
  width: 100%;
}

#openModal {
  margin-left: 13em;
}

#openModal, #updatebtn, #closeModal {
  border-radius: 2px;
  background: linear-gradient(180deg, rgba(22,208,53,1) 0%, rgba(0,120,10,1) 100%);
  border: none;
  color: black;
  font-family: helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: .1em;
  cursor: pointer;
  text-decoration: none;
  padding: .5em 1em;

}

#openModal:hover, #updatebtn:hover, #closeModal:hover {
  background: linear-gradient(180deg, rgba(22,208,53,1) 0%, rgba(37,238,67,1) 17%, rgba(37,238,67,1) 50%, rgba(0,102,8,1) 100%);
}

img {
  width: 15em;
  height: 15em;
}
