body {
  background-color: snow;
}

form {
  background: #12121212;
  box-sizing: border-box;
  padding: 2%;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

#headertwo {
  background-color: gold;
  margin: 0;
  height: 75px;
}

#navbar {
  display: flex;
  justify-content: space-around;
  background-color: cadetblue;
  height: 2em;
}

#navbar a {
  font-size: 15px;
  color: black;
  align-self: center;
  text-decoration: none;
  font-family: helvetica;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
}

#modal-textbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
	background-color: white;
	height: auto;
	width: 50%;
	border-radius: 4px;
  margin: 150px auto;
	box-shadow: 4px 4px 0 rgba(207, 94, 255, 0.1);
  padding: 2%;
  line-height: 120%;
}

.inputText {
  font-family: arial;
  margin-left: 1em;
}

.textbox {
  margin-left: 3em;
}

#list {
  font-family: helvetica;
  margin-left: 5em;
}

#updatebtn, #closeModal {
  margin-top: 2em;
  width: 100%;
}

#openModal {
  margin-left: 13em;
}

#openModal, #updatebtn, #closeModal, #deleteBtn {
  border-radius: 2px;
  background: linear-gradient(180deg, rgba(22,208,53,1) 0%, rgba(0,120,10,1) 100%);
  border: none;
  color: black;
  font-family: helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: .1em;
  cursor: pointer;
  text-decoration: none;
  padding: .5em 1em;

}

#openModal:hover, #updatebtn:hover, #closeModal:hover {
  background: linear-gradient(180deg, rgba(22,208,53,1) 0%, rgba(37,238,67,1) 17%, rgba(37,238,67,1) 50%, rgba(0,102,8,1) 100%);
}

img {
  width: auto;
  height: 8em;
}

#itemContainer {
  display: flex;
  justify-content: space-around;
  padding: 0;
  border: 2px solid red;
}

.container {
  border: 2px solid green;
}

#itemblock {
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow:
  inset 0 2px 3px rgba(255,255,255,0.3),
  inset 0 -2px 3px rgba(0,0,0,0.3),
  0 1px 1px rgba(255,255,255,0.9);
  margin: 10px;
  padding: 1em;
  width: 25em;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

#itemTitle {
  font-size: 2em;
}

#itemDesc {
  margin-left: .7em;
}

#itemPrice {
  margin-bottom: -.5em;
}
